<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <!--link rel="shortcut icon" href="/static/assets/images/favicon.ico"-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        crossorigin="anonymous" />

        <!-- App css -->

        {% block headcss %}
        {% endblock %}

    </head>
    <body>

        <header id="id-header">
            {% block header %}
            {% endblock %}
        </header>

        <main id="id-main">
            <div class="wrapper">
                <div class="content-page">
                <div class="content">

                    {% block container-main %}
                    {% endblock %}

                </div>
                </div>
            </div>
        </main>

        <footer id="id-footer">

        </footer>

        {% block srcjs %}
        {% endblock %}

        {% block scriptjs %}
        {% endblock %}
    </body>
</html>
